USE [master]
GO
/****** Object:  Login [db_sporty]    Script Date: 10/16/2012 21:15:02 ******/
/* For security reasons the login is created disabled and with a random password. */
CREATE LOGIN [db_sporty] WITH PASSWORD=N'12', DEFAULT_DATABASE=[Sporty], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=OFF
GO
ALTER LOGIN [db_sporty] DISABLE
GO
USE [Sporty]
GO
/****** Object:  User [db_sporty]    Script Date: 10/16/2012 21:15:00 ******/
CREATE USER [db_sporty] FOR LOGIN [db_sporty] WITH DEFAULT_SCHEMA=[db_sporty]
GO
/****** Object:  Table [dbo].[aspnet_Applications]    Script Date: 10/16/2012 21:15:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[aspnet_Applications](
	[ApplicationName] [nvarchar](256) NOT NULL,
	[LoweredApplicationName] [nvarchar](256) NOT NULL,
	[ApplicationId] [uniqueidentifier] NOT NULL,
	[Description] [nvarchar](256) NULL,
PRIMARY KEY NONCLUSTERED 
(
	[ApplicationId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[LoweredApplicationName] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ApplicationName] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE CLUSTERED INDEX [aspnet_Applications_Index] ON [dbo].[aspnet_Applications] 
(
	[LoweredApplicationName] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
INSERT [dbo].[aspnet_Applications] ([ApplicationName], [LoweredApplicationName], [ApplicationId], [Description]) VALUES (N'BugNET', N'bugnet', N'30e44a92-7b28-4ff7-9528-9da4d0765890', NULL)
/****** Object:  Table [dbo].[Application]    Script Date: 10/16/2012 21:15:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Application](
	[ApplicationName] [nvarchar](256) NOT NULL,
	[LoweredApplicationName] [nvarchar](256) NOT NULL,
	[ApplicationId] [uniqueidentifier] NOT NULL,
	[Description] [nvarchar](256) NULL,
PRIMARY KEY NONCLUSTERED 
(
	[ApplicationId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[LoweredApplicationName] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ApplicationName] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Application] ([ApplicationName], [LoweredApplicationName], [ApplicationId], [Description]) VALUES (N'/', N'/', N'd290bf6d-85cd-4a00-b62a-cf72cf477e8c', NULL)
/****** Object:  Table [dbo].[aspnet_SchemaVersions]    Script Date: 10/16/2012 21:15:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[aspnet_SchemaVersions](
	[Feature] [nvarchar](128) NOT NULL,
	[CompatibleSchemaVersion] [nvarchar](128) NOT NULL,
	[IsCurrentVersion] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Feature] ASC,
	[CompatibleSchemaVersion] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[aspnet_SchemaVersions] ([Feature], [CompatibleSchemaVersion], [IsCurrentVersion]) VALUES (N'common', N'1', 1)
INSERT [dbo].[aspnet_SchemaVersions] ([Feature], [CompatibleSchemaVersion], [IsCurrentVersion]) VALUES (N'membership', N'1', 1)
INSERT [dbo].[aspnet_SchemaVersions] ([Feature], [CompatibleSchemaVersion], [IsCurrentVersion]) VALUES (N'profile', N'1', 1)
/****** Object:  Table [dbo].[User]    Script Date: 10/16/2012 21:15:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ApplicationId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](128) NOT NULL,
	[PasswordFormat] [int] NOT NULL,
	[PasswordSalt] [nvarchar](128) NOT NULL,
	[MobilePIN] [nvarchar](16) NULL,
	[Email] [nvarchar](256) NULL,
	[LoweredEmail] [nvarchar](256) NULL,
	[PasswordQuestion] [nvarchar](256) NULL,
	[PasswordAnswer] [nvarchar](128) NULL,
	[IsApproved] [bit] NOT NULL,
	[IsLockedOut] [bit] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[LastLoginDate] [datetime] NOT NULL,
	[LastPasswordChangedDate] [datetime] NOT NULL,
	[LastLockoutDate] [datetime] NOT NULL,
	[FailedPasswordAttemptCount] [int] NOT NULL,
	[FailedPasswordAttemptWindowStart] [datetime] NOT NULL,
	[FailedPasswordAnswerAttemptCount] [int] NOT NULL,
	[FailedPasswordAnswerAttemptWindowStart] [datetime] NOT NULL,
	[Comment] [ntext] NULL,
	[ActivationCode] [uniqueidentifier] NULL,
	[SsoToken] [nvarchar](40) NOT NULL,
 CONSTRAINT [PK__User__1788CC4D239E4DCF] PRIMARY KEY NONCLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[aspnet_Users]    Script Date: 10/16/2012 21:15:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[aspnet_Users](
	[ApplicationId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[LoweredUserName] [nvarchar](256) NOT NULL,
	[MobileAlias] [nvarchar](16) NULL,
	[IsAnonymous] [bit] NOT NULL,
	[LastActivityDate] [datetime] NOT NULL,
PRIMARY KEY NONCLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE UNIQUE CLUSTERED INDEX [aspnet_Users_Index] ON [dbo].[aspnet_Users] 
(
	[ApplicationId] ASC,
	[LoweredUserName] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [aspnet_Users_Index2] ON [dbo].[aspnet_Users] 
(
	[ApplicationId] ASC,
	[LastActivityDate] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
INSERT [dbo].[aspnet_Users] ([ApplicationId], [UserId], [UserName], [LoweredUserName], [MobileAlias], [IsAnonymous], [LastActivityDate]) VALUES (N'30e44a92-7b28-4ff7-9528-9da4d0765890', N'4274b402-bce3-44b1-92be-fba1d9b6d5cf', N'Admin', N'admin', NULL, 0, CAST(0x00009EAA00ED1D6C AS DateTime))
INSERT [dbo].[aspnet_Users] ([ApplicationId], [UserId], [UserName], [LoweredUserName], [MobileAlias], [IsAnonymous], [LastActivityDate]) VALUES (N'30e44a92-7b28-4ff7-9528-9da4d0765890', N'157e4bf5-237e-4eea-867f-b346079e5d7f', N'Steini', N'steini', NULL, 0, CAST(0x0000A0CF00F5B24A AS DateTime))
/****** Object:  Table [dbo].[aspnet_Roles]    Script Date: 10/16/2012 21:15:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[aspnet_Roles](
	[ApplicationId] [uniqueidentifier] NOT NULL,
	[RoleId] [uniqueidentifier] NOT NULL,
	[RoleName] [nvarchar](256) NOT NULL,
	[LoweredRoleName] [nvarchar](256) NOT NULL,
	[Description] [nvarchar](256) NULL,
PRIMARY KEY NONCLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE UNIQUE CLUSTERED INDEX [aspnet_Roles_index1] ON [dbo].[aspnet_Roles] 
(
	[ApplicationId] ASC,
	[LoweredRoleName] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[aspnet_UsersInRoles]    Script Date: 10/16/2012 21:15:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[aspnet_UsersInRoles](
	[UserId] [uniqueidentifier] NOT NULL,
	[RoleId] [uniqueidentifier] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [aspnet_UsersInRoles_index] ON [dbo].[aspnet_UsersInRoles] 
(
	[RoleId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phase]    Script Date: 10/16/2012 21:15:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Phase](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[ShortName] [varchar](50) NOT NULL,
	[Description] [varchar](255) NULL,
	[Color] [varchar](7) NULL,
	[Order] [int] NULL,
 CONSTRAINT [PK_Phase] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Phase] ON
INSERT [dbo].[Phase] ([Id], [UserId], [ShortName], [Description], [Color], [Order]) VALUES (1, N'b5498922-b74b-45c9-b370-e932a1383ac1', N'VP 1', NULL, NULL, 1)
INSERT [dbo].[Phase] ([Id], [UserId], [ShortName], [Description], [Color], [Order]) VALUES (2, N'b5498922-b74b-45c9-b370-e932a1383ac1', N'VP 2', NULL, NULL, 2)
INSERT [dbo].[Phase] ([Id], [UserId], [ShortName], [Description], [Color], [Order]) VALUES (3, N'b5498922-b74b-45c9-b370-e932a1383ac1', N'VP 3', NULL, NULL, 3)
SET IDENTITY_INSERT [dbo].[Phase] OFF
/****** Object:  Table [dbo].[Metrics]    Script Date: 10/16/2012 21:15:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Metrics](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Date] [date] NOT NULL,
	[Weight] [float] NULL,
	[RestingPulse] [int] NULL,
	[SleepDuration] [float] NULL,
	[SleepQuality] [smallint] NULL,
	[StressLevel] [smallint] NULL,
	[Motivation] [smallint] NULL,
	[Mood] [smallint] NULL,
	[Sick] [smallint] NULL,
	[Description] [text] NULL,
	[YesterdaysTraining] [smallint] NULL,
 CONSTRAINT [PK_Metrics] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Metrics] ON
INSERT [dbo].[Metrics] ([Id], [UserId], [Date], [Weight], [RestingPulse], [SleepDuration], [SleepQuality], [StressLevel], [Motivation], [Mood], [Sick], [Description], [YesterdaysTraining]) VALUES (1, N'b5498922-b74b-45c9-b370-e932a1383ac1', CAST(0xE7340B00 AS Date), NULL, NULL, 7, 3, 2, 5, 2, 2, NULL, NULL)
INSERT [dbo].[Metrics] ([Id], [UserId], [Date], [Weight], [RestingPulse], [SleepDuration], [SleepQuality], [StressLevel], [Motivation], [Mood], [Sick], [Description], [YesterdaysTraining]) VALUES (2, N'b5498922-b74b-45c9-b370-e932a1383ac1', CAST(0xE8340B00 AS Date), NULL, NULL, 7, 4, 1, 5, 2, 3, NULL, NULL)
INSERT [dbo].[Metrics] ([Id], [UserId], [Date], [Weight], [RestingPulse], [SleepDuration], [SleepQuality], [StressLevel], [Motivation], [Mood], [Sick], [Description], [YesterdaysTraining]) VALUES (3, N'b5498922-b74b-45c9-b370-e932a1383ac1', CAST(0xE5340B00 AS Date), 77, 58, 8, 2, 1, 5, 2, 2, NULL, NULL)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
SET IDENTITY_INSERT [dbo].[Metrics] OFF
/****** Object:  Table [dbo].[Zone]    Script Date: 10/16/2012 21:15:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Zone](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Color] [nvarchar](7) NULL,
 CONSTRAINT [PK_Zone] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Zone] ON
INSERT [dbo].[Zone] ([Id], [Name], [UserId], [Color]) VALUES (1, N'Recovery', N'b5498922-b74b-45c9-b370-e932a1383ac1', N'#FFA500')
INSERT [dbo].[Zone] ([Id], [Name], [UserId], [Color]) VALUES (2, N'Endurance', N'b5498922-b74b-45c9-b370-e932a1383ac1', N'#FFA500')
INSERT [dbo].[Zone] ([Id], [Name], [UserId], [Color]) VALUES (3, N'Higher Endurance', N'b5498922-b74b-45c9-b370-e932a1383ac1', N'#FFA500')
SET IDENTITY_INSERT [dbo].[Zone] OFF
/****** Object:  Table [dbo].[aspnet_Profile]    Script Date: 10/16/2012 21:15:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[aspnet_Profile](
	[UserId] [uniqueidentifier] NOT NULL,
	[PropertyNames] [ntext] NOT NULL,
	[PropertyValuesString] [ntext] NOT NULL,
	[PropertyValuesBinary] [image] NOT NULL,
	[LastUpdatedDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[aspnet_Membership]    Script Date: 10/16/2012 21:15:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[aspnet_Membership](
	[ApplicationId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Password] [nvarchar](128) NOT NULL,
	[PasswordFormat] [int] NOT NULL,
	[PasswordSalt] [nvarchar](128) NOT NULL,
	[MobilePIN] [nvarchar](16) NULL,
	[Email] [nvarchar](256) NULL,
	[LoweredEmail] [nvarchar](256) NULL,
	[PasswordQuestion] [nvarchar](256) NULL,
	[PasswordAnswer] [nvarchar](128) NULL,
	[IsApproved] [bit] NOT NULL,
	[IsLockedOut] [bit] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[LastLoginDate] [datetime] NOT NULL,
	[LastPasswordChangedDate] [datetime] NOT NULL,
	[LastLockoutDate] [datetime] NOT NULL,
	[FailedPasswordAttemptCount] [int] NOT NULL,
	[FailedPasswordAttemptWindowStart] [datetime] NOT NULL,
	[FailedPasswordAnswerAttemptCount] [int] NOT NULL,
	[FailedPasswordAnswerAttemptWindowStart] [datetime] NOT NULL,
	[Comment] [ntext] NULL,
PRIMARY KEY NONCLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
CREATE CLUSTERED INDEX [aspnet_Membership_index] ON [dbo].[aspnet_Membership] 
(
	[ApplicationId] ASC,
	[LoweredEmail] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Material]    Script Date: 10/16/2012 21:15:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Material](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[InUsage] [bit] NOT NULL,
	[Description] [text] NULL,
	[Lifetime] [int] NULL,
	[Filename] [nvarchar](255) NULL,
	[UserId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Material] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Material] ON
INSERT [dbo].[Material] ([Id], [Name], [InUsage], [Description], [Lifetime], [Filename], [UserId]) VALUES (1, N'Adidas Zero', 1, NULL, 800, NULL, N'b5498922-b74b-45c9-b370-e932a1383ac1')
INSERT [dbo].[Material] ([Id], [Name], [InUsage], [Description], [Lifetime], [Filename], [UserId]) VALUES (2, N'Kswiss', 1, N'Flitzer', 1000, NULL, N'b5498922-b74b-45c9-b370-e932a1383ac1')
INSERT [dbo].[Material] ([Id], [Name], [InUsage], [Description], [Lifetime], [Filename], [UserId]) VALUES (3, N'Citybike', 1, NULL, NULL, NULL, N'b5498922-b74b-45c9-b370-e932a1383ac1')
SET IDENTITY_INSERT [dbo].[Material] OFF
/****** Object:  Table [dbo].[Goal]    Script Date: 10/16/2012 21:15:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Goal](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Date] [datetime] NOT NULL,
	[Name] [varchar](255) NOT NULL,
	[Description] [text] NULL,
 CONSTRAINT [PK_Goal] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Goal] ON
INSERT [dbo].[Goal] ([Id], [UserId], [Date], [Name], [Description]) VALUES (1, N'b5498922-b74b-45c9-b370-e932a1383ac1', CAST(0x00009EBA00000000 AS DateTime), N'Halbmarathon', N'um 1:30:00')
INSERT [dbo].[Goal] ([Id], [UserId], [Date], [Name], [Description]) VALUES (3, N'b5498922-b74b-45c9-b370-e932a1383ac1', CAST(0x00009EEA00000000 AS DateTime), N'Spreewald Duathlon', NULL)
INSERT [dbo].[Goal] ([Id], [UserId], [Date], [Name], [Description]) VALUES (4, N'b5498922-b74b-45c9-b370-e932a1383ac1', CAST(0x00009F0600000000 AS DateTime), N'Spreewald Triathlon', N'um die 2:30')
SET IDENTITY_INSERT [dbo].[Goal] OFF
/****** Object:  Table [dbo].[TrainingType]    Script Date: 10/16/2012 21:15:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TrainingType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[UserId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_TrainingType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TrainingType] ON
INSERT [dbo].[TrainingType] ([Id], [Name], [UserId]) VALUES (1, N'Training', N'b5498922-b74b-45c9-b370-e932a1383ac1')
INSERT [dbo].[TrainingType] ([Id], [Name], [UserId]) VALUES (2, N'Competition', N'b5498922-b74b-45c9-b370-e932a1383ac1')
INSERT [dbo].[TrainingType] ([Id], [Name], [UserId]) VALUES (3, N'Test', N'b5498922-b74b-45c9-b370-e932a1383ac1')
SET IDENTITY_INSERT [dbo].[TrainingType] OFF
/****** Object:  Table [dbo].[SportType]    Script Date: 10/16/2012 21:15:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SportType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Type] [int] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_SportType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[SportType] ON
INSERT [dbo].[SportType] ([Id], [Name], [Type], [UserId]) VALUES (1, N'Laufen', 0, N'b5498922-b74b-45c9-b370-e932a1383ac1')
INSERT [dbo].[SportType] ([Id], [Name], [Type], [UserId]) VALUES (2, N'Schwimmen', 2, N'b5498922-b74b-45c9-b370-e932a1383ac1')
INSERT [dbo].[SportType] ([Id], [Name], [Type], [UserId]) VALUES (3, N'Rad', 1, N'b5498922-b74b-45c9-b370-e932a1383ac1')
SET IDENTITY_INSERT [dbo].[SportType] OFF
/****** Object:  Table [dbo].[Profile]    Script Date: 10/16/2012 21:15:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Profile](
	[ProfileId] [uniqueidentifier] NOT NULL,
	[IsMale] [bit] NULL,
	[BodyHeight] [float] NULL,
	[Culture] [nchar](10) NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[MaxHeartrate] [int] NULL,
 CONSTRAINT [PK_Profile] PRIMARY KEY CLUSTERED 
(
	[ProfileId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Profile] ([ProfileId], [IsMale], [BodyHeight], [Culture], [UserId], [MaxHeartrate]) VALUES (N'10165a33-f26e-438f-bdd5-01e520b60eaa', NULL, 181, NULL, N'b5498922-b74b-45c9-b370-e932a1383ac1', 195)
/****** Object:  Table [dbo].[Plan]    Script Date: 10/16/2012 21:15:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Plan](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Duration] [time](0) NULL,
	[SportTypeId] [int] NOT NULL,
	[ZoneId] [int] NOT NULL,
	[Description] [text] NULL,
	[Distance] [float] NULL,
	[Date] [date] NOT NULL,
	[TrainingTypeId] [int] NULL,
	[IsFavorite] [bit] NOT NULL,
 CONSTRAINT [PK_Plan] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Plan] ON
INSERT [dbo].[Plan] ([Id], [UserId], [Duration], [SportTypeId], [ZoneId], [Description], [Distance], [Date], [TrainingTypeId], [IsFavorite]) VALUES (4, N'b5498922-b74b-45c9-b370-e932a1383ac1', CAST(0x00100E0000000000 AS Time), 1, 3, N'5:00 Schnitt Vorbereitung für HM', NULL, CAST(0x11340B00 AS Date), 1, 1)
INSERT [dbo].[Plan] ([Id], [UserId], [Duration], [SportTypeId], [ZoneId], [Description], [Distance], [Date], [TrainingTypeId], [IsFavorite]) VALUES (5, N'b5498922-b74b-45c9-b370-e932a1383ac1', CAST(0x00100E0000000000 AS Time), 2, 2, NULL, NULL, CAST(0x12340B00 AS Date), 1, 1)
INSERT [dbo].[Plan] ([Id], [UserId], [Duration], [SportTypeId], [ZoneId], [Description], [Distance], [Date], [TrainingTypeId], [IsFavorite]) VALUES (6, N'b5498922-b74b-45c9-b370-e932a1383ac1', CAST(0x00100E0000000000 AS Time), 2, 2, NULL, NULL, CAST(0x19340B00 AS Date), 1, 0)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
SET IDENTITY_INSERT [dbo].[Plan] OFF
/****** Object:  Table [dbo].[Exercise]    Script Date: 10/16/2012 21:15:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exercise](
	[UserId] [uniqueidentifier] NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Description] [text] NULL,
	[Duration] [time](0) NULL,
	[Distance] [float] NULL,
	[Date] [datetime] NOT NULL,
	[SportTypeId] [int] NOT NULL,
	[Heartrate] [int] NULL,
	[TrainingTypeId] [int] NULL,
	[ZoneId] [int] NULL,
	[Speed] [float] NULL,
	[HeartrateMax] [int] NULL,
	[SpeedMax] [float] NULL,
	[Trimp] [int] NULL,
	[Cadence] [float] NULL,
	[CadenceMax] [float] NULL,
	[Elevation] [float] NULL,
 CONSTRAINT [PK_Excercise] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Exercise] ON
INSERT [dbo].[Exercise] ([UserId], [Id], [Description], [Duration], [Distance], [Date], [SportTypeId], [Heartrate], [TrainingTypeId], [ZoneId], [Speed], [HeartrateMax], [SpeedMax], [Trimp], [Cadence], [CadenceMax], [Elevation]) VALUES (N'b5498922-b74b-45c9-b370-e932a1383ac1', 2, N'Arbeitsweg', CAST(0x00B0040000000000 AS Time), 10, CAST(0x00009E2200000000 AS DateTime), 3, NULL, 1, 2, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Exercise] ([UserId], [Id], [Description], [Duration], [Distance], [Date], [SportTypeId], [Heartrate], [TrainingTypeId], [ZoneId], [Speed], [HeartrateMax], [SpeedMax], [Trimp], [Cadence], [CadenceMax], [Elevation]) VALUES (N'b5498922-b74b-45c9-b370-e932a1383ac1', 3, N'Arbeitsweg', CAST(0x00B0040000000000 AS Time), 10, CAST(0x00009E2300000000 AS DateTime), 3, NULL, 1, 2, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Exercise] ([UserId], [Id], [Description], [Duration], [Distance], [Date], [SportTypeId], [Heartrate], [TrainingTypeId], [ZoneId], [Speed], [HeartrateMax], [SpeedMax], [Trimp], [Cadence], [CadenceMax], [Elevation]) VALUES (N'b5498922-b74b-45c9-b370-e932a1383ac1', 4, N'Arbeitsweg', CAST(0x00B0040000000000 AS Time), 10, CAST(0x00009E2200000000 AS DateTime), 3, NULL, 1, 2, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
SET IDENTITY_INSERT [dbo].[Exercise] OFF
/****** Object:  Table [dbo].[WeekPlan]    Script Date: 10/16/2012 21:15:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WeekPlan](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[WeekNumber] [int] NOT NULL,
	[Year] [int] NOT NULL,
	[PhaseId] [int] NOT NULL,
 CONSTRAINT [PK_WeekPlan] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[WeekPlan] ON
INSERT [dbo].[WeekPlan] ([Id], [UserId], [WeekNumber], [Year], [PhaseId]) VALUES (1, N'b5498922-b74b-45c9-b370-e932a1383ac1', 47, 2011, 1)
INSERT [dbo].[WeekPlan] ([Id], [UserId], [WeekNumber], [Year], [PhaseId]) VALUES (2, N'b5498922-b74b-45c9-b370-e932a1383ac1', 48, 2011, 1)
INSERT [dbo].[WeekPlan] ([Id], [UserId], [WeekNumber], [Year], [PhaseId]) VALUES (3, N'b5498922-b74b-45c9-b370-e932a1383ac1', 49, 2011, 5)
SET IDENTITY_INSERT [dbo].[WeekPlan] OFF
/****** Object:  Table [dbo].[MaterialPerExercise]    Script Date: 10/16/2012 21:15:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaterialPerExercise](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaterialId] [int] NOT NULL,
	[ExerciseId] [int] NOT NULL,
 CONSTRAINT [PK_MaterialPerExercise] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[MaterialPerExercise] ON
INSERT [dbo].[MaterialPerExercise] ([Id], [MaterialId], [ExerciseId]) VALUES (1, 1, 826)
INSERT [dbo].[MaterialPerExercise] ([Id], [MaterialId], [ExerciseId]) VALUES (2, 2, 824)
INSERT [dbo].[MaterialPerExercise] ([Id], [MaterialId], [ExerciseId]) VALUES (3, 2, 827)
SET IDENTITY_INSERT [dbo].[MaterialPerExercise] OFF
/****** Object:  Table [dbo].[Attachment]    Script Date: 10/16/2012 21:15:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Attachment](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Filename] [varchar](255) NOT NULL,
	[ExerciseId] [int] NOT NULL,
 CONSTRAINT [PK_Attachment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Attachment] ON
INSERT [dbo].[Attachment] ([Id], [Filename], [ExerciseId]) VALUES (1, N'20110511.tur', 194)
INSERT [dbo].[Attachment] ([Id], [Filename], [ExerciseId]) VALUES (2, N'20110509.tur', 195)
INSERT [dbo].[Attachment] ([Id], [Filename], [ExerciseId]) VALUES (10, N'20110327.tur', 203)
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[Attachment] OFF
/****** Object:  Default [DF__Applicati__Appli__276EDEB3]    Script Date: 10/16/2012 21:15:00 ******/
ALTER TABLE [dbo].[Application] ADD  DEFAULT (newid()) FOR [ApplicationId]
GO
/****** Object:  Default [DF__aspnet_Ap__Appli__314D4EA8]    Script Date: 10/16/2012 21:15:00 ******/
ALTER TABLE [dbo].[aspnet_Applications] ADD  DEFAULT (newid()) FOR [ApplicationId]
GO
/****** Object:  Default [DF__aspnet_Me__Passw__4C0144E4]    Script Date: 10/16/2012 21:15:00 ******/
ALTER TABLE [dbo].[aspnet_Membership] ADD  DEFAULT ((0)) FOR [PasswordFormat]
GO
/****** Object:  Default [DF__aspnet_Ro__RoleI__6D6238AF]    Script Date: 10/16/2012 21:15:00 ******/
ALTER TABLE [dbo].[aspnet_Roles] ADD  DEFAULT (newid()) FOR [RoleId]
GO
/****** Object:  Default [DF__aspnet_Us__UserI__370627FE]    Script Date: 10/16/2012 21:15:00 ******/
ALTER TABLE [dbo].[aspnet_Users] ADD  DEFAULT (newid()) FOR [UserId]
GO
/****** Object:  Default [DF__aspnet_Us__Mobil__37FA4C37]    Script Date: 10/16/2012 21:15:00 ******/
ALTER TABLE [dbo].[aspnet_Users] ADD  DEFAULT (NULL) FOR [MobileAlias]
GO
/****** Object:  Default [DF__aspnet_Us__IsAno__38EE7070]    Script Date: 10/16/2012 21:15:00 ******/
ALTER TABLE [dbo].[aspnet_Users] ADD  DEFAULT ((0)) FOR [IsAnonymous]
GO
/****** Object:  Default [DF__User__PasswordFo__286302EC]    Script Date: 10/16/2012 21:15:00 ******/
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF__User__PasswordFo__286302EC]  DEFAULT ((0)) FOR [PasswordFormat]
GO
/****** Object:  ForeignKey [FK__aspnet_Me__Appli__4A18FC72]    Script Date: 10/16/2012 21:15:00 ******/
ALTER TABLE [dbo].[aspnet_Membership]  WITH CHECK ADD FOREIGN KEY([ApplicationId])
REFERENCES [dbo].[aspnet_Applications] ([ApplicationId])
GO
/****** Object:  ForeignKey [FK__aspnet_Me__UserI__4B0D20AB]    Script Date: 10/16/2012 21:15:00 ******/
ALTER TABLE [dbo].[aspnet_Membership]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[aspnet_Users] ([UserId])
GO
/****** Object:  ForeignKey [FK__aspnet_Pr__UserI__60FC61CA]    Script Date: 10/16/2012 21:15:00 ******/
ALTER TABLE [dbo].[aspnet_Profile]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[aspnet_Users] ([UserId])
GO
/****** Object:  ForeignKey [FK__aspnet_Ro__Appli__6C6E1476]    Script Date: 10/16/2012 21:15:00 ******/
ALTER TABLE [dbo].[aspnet_Roles]  WITH CHECK ADD FOREIGN KEY([ApplicationId])
REFERENCES [dbo].[aspnet_Applications] ([ApplicationId])
GO
/****** Object:  ForeignKey [FK__aspnet_Us__Appli__361203C5]    Script Date: 10/16/2012 21:15:00 ******/
ALTER TABLE [dbo].[aspnet_Users]  WITH CHECK ADD FOREIGN KEY([ApplicationId])
REFERENCES [dbo].[aspnet_Applications] ([ApplicationId])
GO
/****** Object:  ForeignKey [FK__aspnet_Us__RoleI__731B1205]    Script Date: 10/16/2012 21:15:00 ******/
ALTER TABLE [dbo].[aspnet_UsersInRoles]  WITH CHECK ADD FOREIGN KEY([RoleId])
REFERENCES [dbo].[aspnet_Roles] ([RoleId])
GO
/****** Object:  ForeignKey [FK__aspnet_Us__UserI__7226EDCC]    Script Date: 10/16/2012 21:15:00 ******/
ALTER TABLE [dbo].[aspnet_UsersInRoles]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[aspnet_Users] ([UserId])
GO
/****** Object:  ForeignKey [FK_Attachment_Exercise]    Script Date: 10/16/2012 21:15:00 ******/
ALTER TABLE [dbo].[Attachment]  WITH CHECK ADD  CONSTRAINT [FK_Attachment_Exercise] FOREIGN KEY([ExerciseId])
REFERENCES [dbo].[Exercise] ([Id])
GO
ALTER TABLE [dbo].[Attachment] CHECK CONSTRAINT [FK_Attachment_Exercise]
GO
/****** Object:  ForeignKey [FK_Excercise_SportType]    Script Date: 10/16/2012 21:15:00 ******/
ALTER TABLE [dbo].[Exercise]  WITH CHECK ADD  CONSTRAINT [FK_Excercise_SportType] FOREIGN KEY([SportTypeId])
REFERENCES [dbo].[SportType] ([Id])
GO
ALTER TABLE [dbo].[Exercise] CHECK CONSTRAINT [FK_Excercise_SportType]
GO
/****** Object:  ForeignKey [FK_Excercise_TrainingType]    Script Date: 10/16/2012 21:15:00 ******/
ALTER TABLE [dbo].[Exercise]  WITH CHECK ADD  CONSTRAINT [FK_Excercise_TrainingType] FOREIGN KEY([TrainingTypeId])
REFERENCES [dbo].[TrainingType] ([Id])
GO
ALTER TABLE [dbo].[Exercise] CHECK CONSTRAINT [FK_Excercise_TrainingType]
GO
/****** Object:  ForeignKey [FK_Excercise_User]    Script Date: 10/16/2012 21:15:00 ******/
ALTER TABLE [dbo].[Exercise]  WITH CHECK ADD  CONSTRAINT [FK_Excercise_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Exercise] CHECK CONSTRAINT [FK_Excercise_User]
GO
/****** Object:  ForeignKey [FK_Excercise_Zone]    Script Date: 10/16/2012 21:15:00 ******/
ALTER TABLE [dbo].[Exercise]  WITH CHECK ADD  CONSTRAINT [FK_Excercise_Zone] FOREIGN KEY([ZoneId])
REFERENCES [dbo].[Zone] ([Id])
GO
ALTER TABLE [dbo].[Exercise] CHECK CONSTRAINT [FK_Excercise_Zone]
GO
/****** Object:  ForeignKey [FK_Goal_User]    Script Date: 10/16/2012 21:15:00 ******/
ALTER TABLE [dbo].[Goal]  WITH CHECK ADD  CONSTRAINT [FK_Goal_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Goal] CHECK CONSTRAINT [FK_Goal_User]
GO
/****** Object:  ForeignKey [FK_Material_User]    Script Date: 10/16/2012 21:15:00 ******/
ALTER TABLE [dbo].[Material]  WITH CHECK ADD  CONSTRAINT [FK_Material_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Material] CHECK CONSTRAINT [FK_Material_User]
GO
/****** Object:  ForeignKey [FK_MaterialPerExercise_Exercise]    Script Date: 10/16/2012 21:15:00 ******/
ALTER TABLE [dbo].[MaterialPerExercise]  WITH CHECK ADD  CONSTRAINT [FK_MaterialPerExercise_Exercise] FOREIGN KEY([ExerciseId])
REFERENCES [dbo].[Exercise] ([Id])
GO
ALTER TABLE [dbo].[MaterialPerExercise] CHECK CONSTRAINT [FK_MaterialPerExercise_Exercise]
GO
/****** Object:  ForeignKey [FK_MaterialPerExercise_Material]    Script Date: 10/16/2012 21:15:00 ******/
ALTER TABLE [dbo].[MaterialPerExercise]  WITH CHECK ADD  CONSTRAINT [FK_MaterialPerExercise_Material] FOREIGN KEY([MaterialId])
REFERENCES [dbo].[Material] ([Id])
GO
ALTER TABLE [dbo].[MaterialPerExercise] CHECK CONSTRAINT [FK_MaterialPerExercise_Material]
GO
/****** Object:  ForeignKey [FK_Metrics_User]    Script Date: 10/16/2012 21:15:00 ******/
ALTER TABLE [dbo].[Metrics]  WITH CHECK ADD  CONSTRAINT [FK_Metrics_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Metrics] CHECK CONSTRAINT [FK_Metrics_User]
GO
/****** Object:  ForeignKey [FK_Phase_User]    Script Date: 10/16/2012 21:15:00 ******/
ALTER TABLE [dbo].[Phase]  WITH CHECK ADD  CONSTRAINT [FK_Phase_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Phase] CHECK CONSTRAINT [FK_Phase_User]
GO
/****** Object:  ForeignKey [FK_Plan_SportType]    Script Date: 10/16/2012 21:15:00 ******/
ALTER TABLE [dbo].[Plan]  WITH CHECK ADD  CONSTRAINT [FK_Plan_SportType] FOREIGN KEY([SportTypeId])
REFERENCES [dbo].[SportType] ([Id])
GO
ALTER TABLE [dbo].[Plan] CHECK CONSTRAINT [FK_Plan_SportType]
GO
/****** Object:  ForeignKey [FK_Plan_TrainingType]    Script Date: 10/16/2012 21:15:00 ******/
ALTER TABLE [dbo].[Plan]  WITH CHECK ADD  CONSTRAINT [FK_Plan_TrainingType] FOREIGN KEY([TrainingTypeId])
REFERENCES [dbo].[TrainingType] ([Id])
GO
ALTER TABLE [dbo].[Plan] CHECK CONSTRAINT [FK_Plan_TrainingType]
GO
/****** Object:  ForeignKey [FK_Plan_User]    Script Date: 10/16/2012 21:15:00 ******/
ALTER TABLE [dbo].[Plan]  WITH CHECK ADD  CONSTRAINT [FK_Plan_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Plan] CHECK CONSTRAINT [FK_Plan_User]
GO
/****** Object:  ForeignKey [FK_Plan_Zone]    Script Date: 10/16/2012 21:15:00 ******/
ALTER TABLE [dbo].[Plan]  WITH CHECK ADD  CONSTRAINT [FK_Plan_Zone] FOREIGN KEY([ZoneId])
REFERENCES [dbo].[Zone] ([Id])
GO
ALTER TABLE [dbo].[Plan] CHECK CONSTRAINT [FK_Plan_Zone]
GO
/****** Object:  ForeignKey [FK_Profile_User]    Script Date: 10/16/2012 21:15:00 ******/
ALTER TABLE [dbo].[Profile]  WITH CHECK ADD  CONSTRAINT [FK_Profile_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Profile] CHECK CONSTRAINT [FK_Profile_User]
GO
/****** Object:  ForeignKey [FK_SportType_User]    Script Date: 10/16/2012 21:15:00 ******/
ALTER TABLE [dbo].[SportType]  WITH CHECK ADD  CONSTRAINT [FK_SportType_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[SportType] CHECK CONSTRAINT [FK_SportType_User]
GO
/****** Object:  ForeignKey [FK_TrainingType_User]    Script Date: 10/16/2012 21:15:00 ******/
ALTER TABLE [dbo].[TrainingType]  WITH CHECK ADD  CONSTRAINT [FK_TrainingType_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[TrainingType] CHECK CONSTRAINT [FK_TrainingType_User]
GO
/****** Object:  ForeignKey [FK__User__Applicatio__29572725]    Script Date: 10/16/2012 21:15:00 ******/
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK__User__Applicatio__29572725] FOREIGN KEY([ApplicationId])
REFERENCES [dbo].[Application] ([ApplicationId])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK__User__Applicatio__29572725]
GO
/****** Object:  ForeignKey [FK_WeekPlan_Phase]    Script Date: 10/16/2012 21:15:00 ******/
ALTER TABLE [dbo].[WeekPlan]  WITH CHECK ADD  CONSTRAINT [FK_WeekPlan_Phase] FOREIGN KEY([PhaseId])
REFERENCES [dbo].[Phase] ([Id])
GO
ALTER TABLE [dbo].[WeekPlan] CHECK CONSTRAINT [FK_WeekPlan_Phase]
GO
/****** Object:  ForeignKey [FK_WeekPlan_User]    Script Date: 10/16/2012 21:15:00 ******/
ALTER TABLE [dbo].[WeekPlan]  WITH CHECK ADD  CONSTRAINT [FK_WeekPlan_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[WeekPlan] CHECK CONSTRAINT [FK_WeekPlan_User]
GO
/****** Object:  ForeignKey [FK_Zone_User]    Script Date: 10/16/2012 21:15:00 ******/
ALTER TABLE [dbo].[Zone]  WITH CHECK ADD  CONSTRAINT [FK_Zone_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Zone] CHECK CONSTRAINT [FK_Zone_User]
GO
