@model HandleErrorInfo

@{
    ViewBag.Title = "Fehler";
    Layout = "~/Views/Shared/_Site.cshtml";
}


<h2>
    Es ist ein Fehler aufgetreten, der eigentlich nicht nicht hatte passieren dürfen...
</h2>