@{
    ViewBag.Title = "Impressum";
    Layout = "~/Views/Shared/_Home.cshtml";
}
<h2>Impressum</h2>
<p>Angaben gemäß § 5 TMG:<br/><br/></p>
<p>Christian Stein<br />
    Cecilienstr. 71<br />
    12683 Berlin<br />
</p>
<h3>Kontakt:</h3>
<p>E-Mail: kontakt [a] Sportdiary.org<br />
    Telefon: +49 (0)178 35 92 016</p>

<br/>
<h2>I. Haftung für Inhalte</h2>

<p>Der Autor übernimmt keinerlei Gewähr für die Aktualität, Korrektheit, Vollständigkeit oder Qualität der bereitgestellten Informationen. Da Sportdiary.org ein kostenloser Dienst ist, können keine Schadensersatzansprüche gegen den Betreiber geltend gemacht werden, auch nicht bei Fahrlässigkeit.

    Für alle von diesem Webauftritt auf andere Seiten verweisenden Links gilt der mit dem folgenden Link angezeigte <a href="http://www.disclaimer.de/disclaimer.htm?farbe=FFFFFF/000000/000000/000000" target="​_blank">​Haftungsausschluss​</a>​. </p>

<h2>II. Datenschutzerkl&auml;rung</h2>
<p>
    Diese Website benutzt <a href="http://piwik.org/">Piwik</a>, eine Open-Source-Software zur statistischen Auswertung der Besucherzugriffe. Piwik verwendet sog. "Cookies", Textdateien, die auf Deinem Computer gespeichert werden und die eine Analyse der Benutzung der Website durch Dich ermöglichen. Die durch den Cookie erzeugten Informationen über Deine Benutzung dieses Internetangebotes werden auf dem Server meines Anbieters in Deutschland gespeichert. Die IP-Adresse wird sofort nach der Verarbeitung und vor deren Speicherung anonymisiert. Du kannst die Installation der Cookies durch eine entsprechende Einstellung Deiner Browser-Software verhindern; ich weise Dich jedoch darauf hin, dass Du in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser Website vollumfänglich nutzen kannst. </p>
<iframe frameborder="no" width="600px" height="200px" src="http://pw.Sportdiary.org/index.php?module=CoreAdminHome&action=optOut&language=de"></iframe>