@model Sporty.Models.ResetPasswordModel
@{
    ViewBag.Title = "Passwort zurücksetzen";
    Layout = "~/Views/Shared/_Home.cshtml";
}

<div class="container">
    <div class="page-header">
        <h2>Das Passwort zurücksetzen</h2>
    </div>
    <p>
        Das neue Passwort wurde an Deine E-Mailadresse geschickt. Du kannst dein Passwort in den Benutzereinstellungen jederzeit ändern.
    </p>
   <p>
       <a href="@Url.Action("Index", "Home")">Zurück zur Startseite</a> 
   </p>
</div>

