@model Sporty.Models.ResetPasswordModel
@{
    ViewBag.Title = "Passwort zurücksetzen";
    Layout = "~/Views/Shared/_Home.cshtml";
}

<div class="container">
    <div class="page-header">
        <h2>Passwort zurücksetzen</h2>
    </div>
    <p>
        Du hast dein Passwort vergessen? Dann gebe es hier deine E-Mailadresse ein und du bekommst ein neues Passwort zugeschickt. 
        Nach der erfolgreichen Anmeldung kannst du dein Passwort wieder ändern.
    </p>
    @using (Html.BeginForm("ResetPassword", "Account", null, FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div class="control-group">
            <label class="control-label" for="inputEmail">Benutzername</label>
            <div class="controls">
                @Html.TextBoxFor(m => m.Email, new { @placeholder = "E-Mail" })
            </div>
        </div>
        <div class="control-group">
            @if (Model != null && !string.IsNullOrEmpty(Model.Message))
            {
                <div class="alert alert-error">
                    @Model.Message
                </div>
            }
            <div class="controls">
                <button type="submit" class="btn">Passwort zurücksetzen</button>
            </div>
        </div>
    }
</div>

