<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
    <head>
        <title>Welcome to Sportdiary</title>
    </head>
    <body>
        Hi {0}, 
        <br />
        Willkommen bei Sportdiary,
        <br />
        du hast dich erfolgreich registriert und musst dein Benutzerkonto nur noch aktivieren. Dazu folge diesem Link:
        <br />
        <br />
        <a href="{1}Activate/{2}">{1}Activate/{2}</a>
        <br />
        Dein Sportdiary.org Team
    </body>
</html>