<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
    <head>
        <title>Erinnerung für neuen Tageswert auf Sportdiary.org</title>
    </head>
    <body>
        Hallo {0}, 
        <br />
        von einem neuen Tageswert bist du nur wenige Klicks entfernt.  
        <br />
        Dazu folge diesem Link:
        <br />
        <a href="http://www.sportdiary.org/Metric/Create?pk_campaign=DailyMetricsEmail">http://www.sportdiary.org/Metric/Create/</a>
        <br />
        Dein Sportdiary.org Team
    </body>
</html>