<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
    <head>
        <title>Comment is added to post</title>
    </head>
    <body>
        {0} {1} added a comment to {2} {3}'s post.
        <br />
        <br />
        Original message:
        <br />
        {4}
        <br />
        <br />
        {0} {1} says: 
        <br />
        {5}
        <br />
        <br />
        To read ful post history follow the link bellow
        <br />
        <br />
        <a href="{6}USER/Wall.aspx">{6}USER/Wall.aspx</a>
        <br />
        <br />
        Musicman team.
    </body>
</html>