<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
    <head>
        <title>Zurücksetzen des Passworts</title>
    </head>
    <body>
        Hi {0}
        <br />
        Du hast dein Passwort vergessen und zurücksetzen lassen.
        <br />
        <br />
        Dein neues Passwort lautet: {1}
        <br />
        Du kannst dein Passwort nach erfolgreicher Anmeldung jederzeit unter den <a href="http://sportdiary.org/User/Edit">Einstellungen</a> wieder ändern.
        <br />
        <br />
        Dein Sportdiary.org Team
    </body>
</html>